/* =========================================================The App Component's /styling============================== */
/* All elements styling */
*{
  color: white;
  border: none;
}


/*=====================The App Component Styling================  */
.calculatorContainer {
  width: 300px;
  margin: auto;
}

.heading {
  text-align: center;
  color: black;
}

/*========The Display Component Styling=============  */
.output {
  height: 60px;
  background: rgba(0, 0, 0, 0.100);
  width: 100%;
}

.output p {
  font-size: 40px;
  margin: 5px;
  color: rgb(6, 34, 41);
}

/*========The Buttons Component Styling=============  */
.buttonContainer {
  display: block; 
}

.equalsButton {
  background-color: rgb(26, 89, 94);
}

.operations {
  background-color: rgba(0, 0, 0, 0.900);
}

/* All button elements styling */
button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.700);
  border: 1px solid white;
}